<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="xmlObject" name="xmlObject1" class="com.tc.xml.XmlObject">
    </bean>
    <bean name = "xmlObject2" class="com.tc.xml.XmlObject">
    </bean>
    <bean name="xmlObject3" class="com.tc.xml.XmlObject">
    </bean>
    <bean name="xmlObjectId" class="com.tc.xml.XmlObject">
    </bean>
</beans>